/* FUENTES A IMPORTAR*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

/* ESTILOS DE ID */

#contOpcionNo,
#contOpcionSi {
    margin-left: 1.5em;
}


/* ESTILOS DE CLASES */

.textoderecha {
    font-weight: 800;
}

.alertFixed {
    position: absolute;
    bottom: 0;
}

.codeCopy {
    top: -1em;
    position: relative;
    margin: 0 auto 50px auto;
    width: 90%;
    height: auto;
    background-color: rgb(255, 240, 200);
    padding: 1em 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 900i;
    border: solid 1px #444;
    visibility: hidden;
    box-shadow: inset 0 0 1em #000, 0 0 1em #000;
}